-- ==========================================
-- PROATIVA LAB - POLÍTICAS DE SEGURANÇA (RLS)
-- ==========================================
-- Este script ativa o Row Level Security (RLS) nas tabelas exatas
-- usadas pelo seu aplicativo, garantindo que apenas usuários
-- logados possam ler e escrever nelas.

-- 1. Ativar RLS nas tabelas existentes (ignora se não existir)
DO $$
DECLARE
    t_name text;
    tables text[] := ARRAY[
        'clients', 
        'production_orders', 
        'production_order_items', 
        'production_batches', 
        'production_certificates', 
        'certificate_microorganisms', 
        'certificate_physicochemical',
        'laudos' -- mantido caso exista
    ];
BEGIN
    FOREACH t_name IN ARRAY tables LOOP
        IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = t_name) THEN
            EXECUTE format('ALTER TABLE public.%I ENABLE ROW LEVEL SECURITY;', t_name);
            
            -- Cria a política de acesso total para usuários autenticados
            EXECUTE format('
                DROP POLICY IF EXISTS "Permitir full access %I" ON public.%I;
                CREATE POLICY "Permitir full access %I" 
                ON public.%I FOR ALL 
                TO authenticated 
                USING (true) WITH CHECK (true);
            ', t_name, t_name, t_name, t_name);
        END IF;
    END LOOP;
END
$$;

-- 2. Limpar a tabela legada 'app_users' (já que agora usamos o Auth Oficial)
DROP TABLE IF EXISTS app_users;
